/*
 * Portfolio — GT Standard superfamily.
 * Drop the licensed .woff2 files into /public/fonts with these names.
 * No other families are substituted; only generic keywords as last resort.
 */
@font-face {
  font-family: "GT Standard";
  src: url("/fonts/GT-Standard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Standard";
  src: url("/fonts/GT-Standard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Standard Extended";
  src: url("/fonts/GT-Standard-Extended-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Standard Mono";
  src: url("/fonts/GT-Standard-Mono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
